header{
    background-image: url("assets/hallway-cropped.png");
    background-position: center;
    background-size: cover;
    padding: 100px;
    margin: 0;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif   ;
    font-weight: bolder;
    font-style: oblique;
    font-size: 90pt;
    color: whitesmoke;
    text-align: center;
}

body{
    background-color: #EEE9E9;
}

.navbar{
    overflow: hidden;
    background-color: #B0BF93;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
}

.nav-list{
    display: block;
    list-style: none;
    padding-right: 20px;
}

.nav-list li{
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list li a {
    float: right;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
}

.nav-list li a:hover {
    color: #98a879;
}

#current {
    background: #98a879;
    background-size: cover;
}

section {
    margin-top: 50px;
    margin: auto auto;
}

.gallery-box{
    margin: 1in;
}

.row {
    display: flex;
    margin-top: 40px;
}

.column {
    width: 33.3%;
    padding: 5px;
}

.column img {
    width: 90%;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

#caption {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}