
header{
    background-image: url("assets/hallway-cropped.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 10px;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 90pt;
    color: white;
    text-align: center;
}

body{
    margin-top: 30px;
    background-color: #EEE9E9;
}

.navbar{
    overflow: hidden;
    background-color: #B0BF93;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.nav-list{
    display: block;
    list-style: none;
    padding-right: 20px;
}

.nav-list li{
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list li a {
    float: right;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
}

.nav-list li a:hover {
    color: #98a879;
}

.current {
    padding: 5px;
    background: #98a879;
    background-size: cover;
}

section {
    margin-top: 50px;
    padding: 10px;
    margin: auto;
}

.art-commissions {
    background-size: cover;
    content: " ";
    display: table;
    clear: both;
    align-items: center;
}

.left-image {
    float: left;
}
.left-image img {
    padding: 10px;
    scale: 75%;
}

.right-text{ 
    float: right;
    justify-content: center;
    padding: 10px;
    margin-top: 100px;
}
.right-text h2 {
    text-align: center;
    font-size: 60pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#B0BF93;
    vertical-align: baseline;
}
.right-text p {
    text-align: center;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    vertical-align:auto;
}