
header{
    background-image: url("assets/hallway-cropped.png");
    background-position: center;
    background-size: cover;
    padding: 100px;
    margin: 0;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif   ;
    font-weight: bolder;
    font-style: oblique;
    font-size: 90pt;
    color: whitesmoke;
    text-align: center;
}

body{
    background-color: #EEE9E9;
}

.navbar{
    overflow: hidden;
    background-color: #B0BF93;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
}

.nav-list{
    display: block;
    list-style: none;
    padding-right: 20px;
}

.nav-list li{
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list li a {
    float: right;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
}

.nav-list li a:hover {
    color: #98a879;
}

#current {
    background: #98a879;
    background-size: cover;
}

section {
    margin-top: 50px;
    margin: auto auto;
}

.landing-page {
    margin: 1in;
}

.landing-page-row {
    display: flex;
}

.landing-page-column {
    width: 50%;
    padding: 5px;
}

.landing-page-column img {
    width: 75%;
}

.landing-page-column h2 {
    color: #B0BF93;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.landing-page-column p {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: justify;
}

.art-commissions {
    margin: 1in;
}

.comm-row {
    display: flex;
}

.comm-column {
    width: 50%;
    padding: 5px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.bottom {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
}

.top {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 75%
}

.comm-column h2 {
    text-align: center;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#B0BF93;
    vertical-align: middle;
}
.comm-column p {
    text-align: center;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    vertical-align: auto;
}
.centre {
    text-align: center;
}
.artworks-button {
    height: 50px;
    width: 90px;
    background-color: #B0BF93;
    color: white;
    border: none;
    outline: none;
    margin-top: 50px;
}
.artworks-button:hover {
    background-color: #98a879;
}
.resumes {
    margin-top: 3in;
}
.resumes h2 {
    text-align: center;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#B0BF93;
    vertical-align: middle;
}

.resume-box{
    margin: 1in;
}

.resume-row {
    display: flex;
}

.resume-column{ 
    width: 50%;
    padding: 5px;
    align-items: center;
}

.resume-column h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20pt;
}

footer{
    background-image: url("assets/footer-bg.png");
    background-position: top;
    background-size: cover;
    padding: 65px;
}

footer p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 130px;
    color: white;
}