.modal {
    background: white;
    width: 80%;
    height: 80%;
    padding: 50px;
    display: none;
    bottom: 0;
    left: 10;
    justify-self: center;
    position: fixed;
    align-self:center;
}
.modal.show {
    display: flex;
    box-sizing: content-box;
    opacity: 1;
    animation: slideIn 0.5s;
}
.close-modal-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
    background-color: white;
    border: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: row;
}

.modal-left-box {
    width: 50%;
    padding: 50px;
    margin-right: 1in;
}
.modal-carousel {
    height: 700px;
    width: 700px;
    position: relative;
    margin: auto;
    overflow-y: scroll;
}
.carousel-img {
  max-width: 700px;
  overflow: scroll;
}

.modal-right-box {
    width: 50%;
    justify-items: left;
}
.modal-right-box h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 18pt;
}
.modal-right-box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

@keyframes slideIn {
    from {transform: translateY(1rem);
        opacity: 50%;
    }
    to {transform: translateY(0);
        opacity: 100%;
    }
}